# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs (Next.js)
.next/
out/
build/
.turbo/
.vercel/

# Env & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
app-web/.env.local

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Editor
.vscode/
.idea/
*.code-workspace

# TypeScript / Next
*.tsbuildinfo
next-env.d.ts
